<!DOCTYPE html>

<style>
    .footer {
 position:relative;
        text-align:center;
        bottom:0%;
        color:darkcyan;
    }
</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<body >
    <div>
        @Html.ActionLink("Profile", "Index", "Account", new { area = "" }, new { @class = "btn btn-outline-success" })

    </div>

    <div class="footer">
        @RenderBody()
        <footer>
            <h6> </h6>
        </footer>
    </div>

     <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>