
@{
    ViewBag.Title = "Index";
}
<style>

    .color{
        background-color:aliceblue;
    }
    .data {
        text-align: center;
        color: darkcyan;
        border-radius: 10px;
    }
    .tab {
        text-align: center;
        margin-left: 40px;
        color:black;
    }
</style>
<div class="color">
    <div class="heading">
        <h1>BLOOMS BLOGGING PAGE</h1>
    </div>
    <div class="tab">
        @Html.ActionLink("Add Blogs", "AddBlogs", null, new { @class = "btn btn-success ms-3 " })

        @Html.ActionLink("Display Blogs", "DisplayBlogs", null, new { @class = "btn btn-success ms-3 " })
    </div>
</div>
<div class="color">

</div>




